<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pastane_Otomasyon.Properties.Settings.PastaneConnectionString"
            connectionString="Data Source=DESKTOP-AIKEIHG\SA;Initial Catalog=Pastane;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>